:root{
    --calendar-radius: 16px;
}

@font-face {
  font-family: "Poppins";
    src: url("/resources/Poppins/Poppins-Regular.ttf") format("truetype");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
    font-family: "Poppins", serif;
}

body{
    height: 100vh;
    width: 100vw;
    background: whitesmoke;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card{
    display: grid;
    grid-template-columns: 500px auto;
    min-height: 60vh;
    width: 1000px;
    border-radius: 5px;
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background: white;
}

.card .left-image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.card .left-image .left-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background:rgba(0, 0, 0, 0.05);
    z-index: 3;
    transition: none;
    cursor: pointer;
}
.left-image .left-arrow:hover{
    background: white;
}
.left-image .left-arrow svg{
    fill: white;
    transition: 0s;
}
.left-image .left-arrow:hover svg{
    fill: #ef5350;
}

.card .img-circle-anim, .card .img-circle-main{
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 200%;
    background-color: #c8e6c9;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-25%);
    transition: width 0.2s ease-out;
    z-index: 1;
}

.card .img-circle-anim.submit, .card .img-circle-main.submit{
    height: 200%;
    width: 461%;
    z-index: 1;
    transition: width .5s ease-in-out;
}

.card .img-circle-anim{
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 0s;
}

.card .img-circle-anim.open{
    clip-path: circle(100% at 50% 50%);
    z-index: 2;
    transition: clip-path 2s ease-out;
}

.calendar-img{
    display: grid;
    grid-template-rows: 100px 300px;
    width: 350px;
    border-radius: var(--calendar-radius);
    box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.calendar-img .top{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 30px;
    background-color: #43a047;
    place-content: center;
    border-top-left-radius: var(--calendar-radius);
    border-top-right-radius: var(--calendar-radius);
    transition: all 0.5s ease-in-out;
}

.top span.circle{
    height: 30px;
    width: 30px;
    border-radius: 25px;
    background-color: #ccc;
    position: relative;
    display: flex;
    justify-content: center;
}

.top span.line{
    height: 80px;
    width: 20px;
    background-color: #777;
    position: absolute;
    bottom: 5px;
    border-radius: 20px;
}

.calendar-img .bottom{
    display: grid;
    place-items: center;
    background-color: #eeeef3;
    border-bottom-left-radius: var(--calendar-radius);
    border-bottom-right-radius: var(--calendar-radius);
}

.bottom .text{
    font-size: 60px;
    transform: scale(1.5);
    color: #050b4e;
    text-transform: uppercase;
}


/* forms start here */
.right-form .heading{
    font-size: 1.7rem;
    font-weight: bold;
    word-wrap: break-word;
    text-align: center;
}
.right-form form{
    display: grid;
    grid-template-rows: repeat(6, auto);
    row-gap: 20px;
    justify-items: center;
    height: 100%;
    width: 500px;
    padding: 20px;
}
.right-form form .input-box{
    display: block;
    position: relative;
    min-height: 70px;
    width: 220px;
}
.right-form form label{
    display: flex;
    flex-direction: column;
    user-select: none;
}

.right-form form input[type="text"]{
  width: 100%;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #cfcfdf;
  position: absolute;
  height: 36px;
}

.right-form form input:read-only{
    user-select: none;
}

/* custom datalist */
.datalist{
  display: block;
  background-color: #fff;
  border-top: 0px solid transparent;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
  position: absolute;
  top: 60px;
  width: 100%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.2s ease-out;
  z-index: 10;
}

/* global .hidden class */
.hidden{
  display: none !important;
}

.datalist .options{
  display: flex;
  flex-direction: column;
  padding: 4px 12px;
  cursor: pointer;
}
.datalist .options:hover{
  background-color: #e6e6ed;
}
.options .value{
  font-size: 12px;
  font-weight: bold;
  color: black;
  padding: 2px;
  font-stretch: extra-expanded;
}
.options .text{
  font-size: 14px;
  padding: 2px;
  color: #555;
}

/* input info text */
.input-info-text{
    font-size: 9px;
    font-weight: 700;
    position: absolute;
    bottom: 0px;
    color: #fb8c00;
}

.month-input{
    position: relative;
    user-select: none;
}

.month-input .month-year{
    position: absolute;
    top: 65px;
    width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.2);
    opacity: 1;
}
.month-year.inactive{
    opacity: 0;
    transition: 0.15s ease-out;
}

.month-input .year{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    justify-items: center;
    font-size: 2rem;
}

.month-picker{
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-items: center;
    row-gap: 10px;
    padding: 8px 2px;
}

.month-picker .single-month{
    padding: 4px 10px;
    border-radius: 25px;
    width: 50px;
    height: 35px;
    text-align: center;
    cursor: pointer;
}

.single-month.active-month, .single-month:hover{
    background-color: #673ab7;
    color: white;
}

/* radio input box */
.check-box-input{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  background: #fff;
  width: 220px;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.2);
}
.check-box-input .option{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  align-items: center;
  background: #fff;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.check-box-input .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.check-box-input .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #0069d9;
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.check-box-input .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}

.btn-submit{
    height: 50px;
    width: 220px;
    padding: 4px 8px;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    border: none;
    color: white;
    background-color: #0069d9;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

/* Right Submitted Details starts here */
.right-submitted{
  display: grid;
  grid-template-columns: auto;
  row-gap: 100px;
  background-color: transparent;
  z-index: 2;
  align-content: center;
  text-align: center;
  color: #224;
  justify-items: center;
  transform: translateX(-50%);
}

.server-msg h2{
  display: none;
  animation: drop-down 0.25s ease-out forwards;
  transform: translateY(-10vh);
}
@keyframes drop-down {
  from{transform: translateY(-10vh)}
  to{transform: translateY(0%)}
}
.server-msg .message{
  padding: 8px 4px;
}

.loading .lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: scale(3) translateY(25%);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) calc(var(--delay)) infinite;
  border-color: #fff transparent transparent transparent;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    transform: scale(2.5);
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px var(--circle-color);
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.success .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: var(--circle-color);
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.success .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.failure .checkmark_circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: var(--circle-color);
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.failure .checkmark_check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
    100% { stroke-dashoffset: 0 }
}

@keyframes scale {
    0%, 100% { transform: none }
    50% { transform: scale(1.5) }
}

@keyframes fill {
    100% { box-shadow: inset 0px 0px 0px 30px var(--circle-color) }
}

.right-submitted button{
    display: block;
    animation: drop-up 0.25s ease-out forwards;
    transform: translateY(10vh);
}

@keyframes drop-up {
    from{transform: translateY(10vh)}
    to{transform: translateY(0)}
}